body {
    background-color: rgb(109, 109, 253);
    font: normal 20px arial;
}

#text {
    text-align: center;
    margin-bottom: 30px;

}

#foto{
   display: flex;
   height: 300px;
   width: auto;
   
}
div {
    text-align: center;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 15px  rgb(54, 54, 126);
}

footer {
    font-style: italic;
    color: aliceblue;
    text-align: center;

}